
/* CSS Global */
body {
    background-image: linear-gradient(45deg, var(--second-color), var(--main-color));
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, body{
    font-family: "Montserrat", sans-serif;
}

.l-spacing-2{
    letter-spacing:0.28px;
}
.line {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

a { 
    color: #312f2f;
    font-size: 12px;
    font-weight: 800 ;
    margin-left: 4px;  
}

a:hover { 
    color: var(--main-color);
}

.main-btn {
    overflow: hidden;
    background-color: var(--main-color);
}

.main-btn .btn-hover {
    transition: 0.4s ease-in all;
    position: absolute;
    width: 0;
    height: 100%;
    border-radius: 40px;
    background-color: #4ee968;
}

.main-btn:hover .btn-hover {
    width: 140%;
    background-color: #37d7528f;
    background-color: var(--main-color);
}

.main-btn p {
    z-index: 10;
    color: white;
    font-weight: 700 !important;
}


/* Bloco Principal */
.main-block.register {
    overflow-x: hidden;
    min-height: 732px;
}

.main-block.login {
    overflow-x: hidden;
    min-height: 532px;
}

/* Login-box */
.login-box {
    background-color: white;
    width: 350px;
    height: fit-content;
    box-shadow: 0px 0px 20px #f3f3f3;
}

.login-box p {
    font-weight: 400;
    font-size: 14px;
}

.login-box h4{
    font-weight: 600;
}

.login-box input, .login-box button{
    height: 36px;
}

.login-box input{
    color: #818181;
    background-color: #2d82d61c;
    box-shadow: 0px 0px 20px #f3f3f3;
    border: 0px;
    border-bottom: 2px solid var(--border-color);
}

.login-box .subtitle{
    color: var(--subtitle-color);
    font-family: "Poppins", sans-serif;
}

.login-box .info-subtitle{
    font-size: 12px;
    color: var(--subtitle-color);
    font-family: "Poppins", sans-serif;
}

.login-box .info-link{
    font-size: 10px;
}

.form-control:focus {
    color: #818181;
    background-color: #2d82d60f;
    border-color: var(--border-color);
    outline: 0;
    box-shadow: 0px 0px 20px #f3f3f3;
}

.password-icon.fa-eye {
    position: absolute;
    right: 8px;
    bottom: 10px;
}

.password-icon.fa-eye-slash {
    position: absolute;
    right: 7px;
    bottom: 10px;
}

/* Media-login-box */

@media screen and (max-width: 390px){
    .login-box {
        width: calc(100vw - 40px);
    }
}