.navi-box {
    max-width: 1210px;
    height: 70px;
    border-radius: 15px;
    background-color: white;
}

.navi-shadow{
    max-width: 1210px;
    height: 70px;
    border-radius: 15px;
    background-color: #eeefef96;
}