
/* CSS Global */
body {
    background-image: linear-gradient(45deg, var(--second-color), var(--main-color));
}

p, h1, h2, h3, h4, h5, h6, body{
    font-family: "Montserrat", sans-serif;
}

.l-spacing-2{
    letter-spacing:0.28px;
}
.line {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

a { 
    color: #312f2f;
    font-size: 12px;
    font-weight: 800 ;
    margin-left: 4px;
}
.main-btn {
    background-color: var(--main-color);
}

.main-btn p {
    color: white;
    font-weight: 700 !important;
}

/* Login-box declare */
.login-box {
    background-color: white;
    width: 350px;
    height: fit-content;
    box-shadow: 0px 0px 45px #f3f3f3;
}

.login-box p {
    font-weight: 400;
    font-size: 14px;
}

.login-box h4{
    font-weight: 600;
}

.login-box input, .login-box button{
    height: 36px;
}

.login-box input{
    color: #818181;
    background-color: #2d82d61c;
    box-shadow: 0px 0px 20px #f3f3f3;
    border: 0px;
    border-bottom: 2px solid var(--border-color);
}

.login-box .subtitle{
    color: var(--subtitle-color);
    font-family: "Poppins", sans-serif;
}



.form-control:focus {
    color: #818181;
    background-color: #2d82d60f;
    border-color: var(--border-color);
    outline: 0;
    box-shadow: 0px 0px 20px #f3f3f3;
}
